  <div class="article-top-div">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
            <h2>Kategories</h2>
          </div>
          <div class="article-columns">
            <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
              <%@articles.each_with_index do |article,index|%>
                <%= render partial: 'shared/render_articles', locals: {article: article, index: index}%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
