  <div class="article-top-div">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="article-columns">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
              <%@articles.each_with_index do |article,index|%>
                <%= render partial: 'shared/render_articles', locals: {article: article, index: index}%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
