<div id="start-page">
  <div class="front-page">
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
      <div class="col-md-6 content-left">

          <%=image_tag(image_path("frontbild.jpg"), class:"img-responsive")%>

        <div class="header-overlay">
          <div class="new-age">
            <h2>Julia</h2>
          </div>
          <div class="new-surename">
            <h2>Grufving</h2>
          </div>
          <div class="new-proffesion">
            <h2>photographer</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6 content-right">
        <div class="text-content">
          <div class="center-block">
            <h1>About me</h1>
          </div>
          <hr></hr>
          <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
             Mauris ut tellus tincidunt, rhoncus ante in, blandit ante.
              Nam lacinia sed mauris eget molestie. Sed in quam erat.
              Morbi ac aliquet mauris. Fusce tempor tempor felis. Aliquam
               vel diam at augue euismod commodo non
               m vel diam at augue euismod commodo non at tortor
               . Sed eget leo diam. Nunc sed gravida quam.
               In consectetur purus non purus susci
          </p>
          <div class="pull-left">
            <i class="fa fa-facebook fa-2x"></i>
            <i class="fa fa-instagram fa-2x"></i>
            <i class="fa fa-twitter fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
