<div id="start-index">
  <div class="container">
    <div class="section group">
      	<div class="col span_1_of_3">
      	  <div class="headers">
            <h2><strong>about</strong></h2>

          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenean nec nibh vitae nunc vehicula porttitor.
              In suscipit justo sed felis tristique vehicula. Nam vitae venenatis
               dui. Integer nec lorem tempo
            </p>
          </div>
          <div class="headers">
            <h2><strong>experince</strong></h2>

          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenean nec nibh vitae nunc vehicula porttit
            </p>
          </div>
          <div class="headers">
            <h2><strong>Contact me!</strong></h2>

          </div>
          <div class="text">
            <p>
              Social medias
            </p>
            <i class="fa fa-twitter" aria-hidden="true">haj</i>
            <i class="fa fa-facebook" aria-hidden="true">haj</i>
            <i class="fa fa-flickr" aria-hidden="true">haj</i>
          </br>
        </br>
            <p>
              or send me a mail
            </p>
            <%=link_to "Contact",contacts_path, class:"btn btn-primary"%>
          </div>

      	</div>
      	<div class="col span_1_of_3">
          <div class="headers">
            <h2><strong>CLIENTS</strong></h2>

          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenean nec nibh vitae nunc vehicula porttitor.
              In suscipit justo sed felis tristique vehicula. Nam vitae venenatis
               dui. Integer nec lorem tempo
            </p>
          </div>
      	</div>
      	<div class="col span_1_of_3">
        	<div class="picture-holder">
            <%=image_tag(@photo.picture.normal_thumb, class:"img-responsive")%>
          </div>
      	</div>
    </div>

  </div>
</div>
