<div id="new-album-view">
  <div class="container">
    <div class="center-pictures">
        <div class="section group">
          <% number = 0 %>
            <%@albums.each_with_index do |album,index|%>
              <%if !album.photos.first.nil? %>
                <%= render partial: 'render_album_view', locals: {album: album, index: number} %>
                <% number += 1 %>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
