<script>
  $(document).ready(function() {

    var owl = $("#owl-demo");

    owl.owlCarousel({
      navigation : true,
      singleItem : true,
      dots: false,
      transitionStyle : "fade"
    });

  });

  jQuery(document.documentElement).keyup(function (event) {

    var owl = jQuery(".owl-carousel");

    if (event.keyCode == 32){
      owl.trigger('owl.next');
    }

    // handle cursor keys
    if (event.keyCode == 37) {
       // go left
       owl.trigger('owl.prev');
    } else if (event.keyCode == 39) {
       // go right
       owl.trigger('owl.next');
    }

});
</script>

<div id="picture-view">
  <div class="jumbotron">

    <div class="container">
      <div class="row center-picture">
          <div class="col-md-12">
            <div id="owl-demo" class="owl-carousel owl-theme">
              <%@album.each do |photo| %>
                <div class="picture">
                  <%=image_tag(photo.picture.picture_view, class:"img-responsive center-block")%>
                </div>
              <%end%>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
