// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900);



.album-bootstrap-col{
  .col-lg-4{
    padding: 0;

  }
  .col-md-4{
    padding: 0;
  }
  .col-sm-4{
    padding: 0;
  }
  .col-xs-12{

  }
}
.img-orienation > .img-new-responsive{
  image-orientation: from-image;
}

#new-album-view{
  .hovereffect {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-left: 5px;
    margin-bottom: 5px;
    background: black;
    // border-radius: 0px 0px 0px 0px;
    // -moz-border-radius: 0px 0px 0px 0px;
    // -webkit-border-radius: 0px 0px 0px 0px;
    // border: 3px solid #e8e8e8;
  }
  .hovereffect a, .hovereffect h2 {
    color: white;
    opacity: 1;
  }
  .hovereffect:hover a{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition:background 0.35s, opacity 0.35s, -webkit-transform 0.35s;
    transition: background 0.35s, opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  // .hovereffect:hover{
  //     background-color: rgba(0,0,0,0.3);
  //     filter: alpha(opacity=40);
  //     -webkit-transform: translate3d(0,0,0);
  //     transform: translate3d(0,0,0);
  // }

  .hovereffect:hover img {
    opacity: 0.3;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  $blue: #002B65;
  $red: #D22F00;
  $white: white;
  /*  SECTIONS  */
  .section {
  	clear: both;
  	padding: 0px;
  	margin: 0px;
  }

  /*  COLUMN SETUP  */
  .col {
  	display: block;
  	float:left;
  	margin: 1% 0, 0.5%;
  }
  .col:first-child { margin-left: 0; }

  /*  GROUPING  */
  .group:before,
  .group:after { content:""; display:table; }
  .group:after { clear:both;}
  .group { zoom:1; /* For IE 6/7 */ }

  /*  GRID OF TEN  */
  .span_10_of_10 {
  	width: 100%;
  }

  .span_9_of_10 {
    	width: 89.95%;
  }

  .span_8_of_10 {
    	width: 79.9%;
  }

  .span_7_of_10 {
    	width: 69.85%;
  }

  .span_6_of_10 {
    	width: 59.8%;
  }

  .span_5_of_10 {
    	width: 49.75%;
  }

  .span_4_of_10 {
    	width: 39.7%;
  }

  .span_3_of_10 {
    	width: 29.65%;
  }

  .span_2_of_10 {
    	width: 19.6%;
  }

  .span_1_of_10 {
    	width: 9.55%;
  }

  /*  GO FULL WIDTH BELOW 480 PIXELS */
  @media only screen and (max-width: 480px) {
  	.col {  margin: 1% 0 1% 0%; }

      .span_1_of_10, .span_2_of_10, .span_3_of_10, .span_4_of_10, .span_5_of_10, .span_6_of_10, .span_7_of_10, .span_8_of_10, .span_9_of_10, .span_10_of_10 {
  	width: 100%;
  	}
  }
  img{
    width: 100%;
    height: 450px;
  }


  .hovereffect h2 {
    text-transform: uppercase;
    color:  $white;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    margin-top: 150px;
    padding: 0.5em 0;
    background-color: transparent;
  }

  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:  $white;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
   -webkit-transform: translate3d(-100%,0,0);
   transform: translate3d(-100%,0,0);
  }
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  @media only screen and (max-width: 480px) {
    img{
      height: 300px;
    }

    .hovereffect h2 {
      text-transform: uppercase;
      color: white;
      text-align: center;
      position: relative;
      font-size: 25px;
      overflow: hidden;
      margin-top: 70px;
      padding: 0.5em 0;
      background-color: transparent;
    }

  }


}
#album-views{
/*colors*/
$blue: #002B65;
$red: #D22F00;
$white: white;

.box {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 8vw;
  border-top: 10px solid $red;
  border-bottom: 10px solid $red;
  line-height: 1;
  background-color: $white;
  color: white;
  background-size: cover;
  mix-blend-mode: hard-light;
  height: 400px;
  height: 50vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  p {
    text-rendering: optimizeLegibility;
    word-spacing: 5px;
    margin: 0;
  }
}
  .new-hovereffect{
    //border: 2px solid #D22F00;
    margin-bottom: 20px;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 8px -2px 67px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 8px -2px 67px 0px rgba(0,0,0,0.52);
    box-shadow: 8px -2px 67px 0px rgba(0,0,0,0.52);
  }
  .new-hovereffect img{

    //border: 2px solid #D22F00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .greyscale{
    -webkit-filter: grayscale(1);
  	-webkit-filter: grayscale(100%);

  	//filter: gray;
  	filter: grayscale(100%);
    // filter: contrast(100%);
  }
  .new-hovereffect:hover .greyscale{
    -webkit-filter: grayscale(0);
  	-webkit-filter: grayscale(0%);
    -webkit-filter: contrast(180%);
    filter: contrast(180%);
  	filter: 0;
  	filter: grayscale(0%);

  }
    .new-hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    // border-radius: 0px 0px 0px 0px;
    // -moz-border-radius: 0px 0px 0px 0px;
    // -webkit-border-radius: 0px 0px 0px 0px;
    // border: 3px solid #e8e8e8;
    background: black;

  }

  .new-hovereffect .new-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 100px 0px;
  }

  .new-hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: white;
  }

  .new-hovereffect:hover img {
     opacity: 0.50;
    // filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    //
    background-color: rgba(0,0,0,0.6)

  }
  .new-hovereffect:hover img .new-age{
    background-color: rgba(210,47,0, 0.8)
  }

  .new-hovereffect {
    .new-age{
      width: 100%;
      height: 80px;
      text-align: center;
      position: relative;
      overflow: hidden;
      padding: 0.5em 0;
      background-color: rgba(210,47,0, 0.3)
    }
  }
  .new-hovereffect h2 {
    font-family: "adobe-caslon-pro";
    text-transform: none;
    letter-spacing: 2px;
    font-weight: 400;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 43px;
    overflow: hidden;
    padding: 0.5em 0;
    line-height: 0.5;
    text-rendering: optimizeLegibility;
    word-spacing: 5px;
    margin: 0;
  }
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:  #1a242f;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }

  .new-hovereffect a, .new-hovereffect p {
    color: $red;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }

  .new-hovereffect:hover a, .new-hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .hovereffect{
    margin-bottom: 20px;
    // -webkit-box-shadow: 8px -2px 67px 0px rgba(0,0,0,0.52);
    // -moz-box-shadow: 8px -2px 67px 0px rgba(0,0,0,0.52);
    // box-shadow: 8px -2px 67px 0px rgba(0,0,0,0.52);
  }

  #album-views{
    .hovereffect{
      background: #f0803c;
    }
    .hovereffect a, .hovereffect h2 {
      color: white;
      opacity: 1;
    }
  }

  .hovereffect {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: black;
    // border-radius: 0px 0px 0px 0px;
    // -moz-border-radius: 0px 0px 0px 0px;
    // -webkit-border-radius: 0px 0px 0px 0px;
    // border: 3px solid #e8e8e8;
  }
  .hovereffect .fa-4x {

  }

  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
  }

  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition:background 0.35s, opacity 0.35s, -webkit-transform 0.35s;
    transition: background 0.35s, opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
  }
  // .hovereffect:hover{
  //     background-color: rgba(0,0,0,0.3);
  //     filter: alpha(opacity=40);
  //     -webkit-transform: translate3d(0,0,0);
  //     transform: translate3d(0,0,0);
  // }

  .hovereffect:hover img {
    opacity: 0.3;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    color:  $white;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    margin-top: 90px;
    padding: 0.5em 0;
    background-color: transparent;
  }

  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:  $white;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
  //  -webkit-transform: translate3d(-100%,0,0);
  //  transform: translate3d(-100%,0,0);
  }
  .hovereffect .fa-4x{
      margin-top: 20px;
  }

  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .hovereffect p,  {
    color: black;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }

  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
#show-pictures{

  @media only screen and (max-width: 768px){
    .center-pictures{
      margin: 50px;
      img{
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background: white;
        margin-left: 10px;
        height: 230px;
      }
    }
  }

    background-color: white;
  $red: #B14D4D;
  /*  SECTIONS  */
  .section {
  	clear: both;
  	padding: 0px;
  	margin: 0px;

  }
  .container-full {
  margin: 0 auto;
  width: 100%;
  }
  .center-pictures{
    margin: 50px;
    img{
      width: calc(100% + 20px);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background: white;
      margin-left: 10px;
      height: 300px;
    }
    .greyscale{
      -webkit-filter: grayscale(1);
    	-webkit-filter: grayscale(100%);

    	//filter: gray;
    	filter: grayscale(100%);
      filter: contrast(180%);
    }
    .col:hover .greyscale{
      -webkit-filter: grayscale(0);
    	-webkit-filter: grayscale(0%);

    	//filter: gray;
    	filter: grayscale(0%);
      filter: contrast(180%);
    }
  }


  .col{
    background-color: black;
  }
  .col:hover{
    img{
      opacity: 0.5;
    }
  }
  /*  COLUMN SETUP  */
  .col {
  	display: block;
  	float:left;
  	margin: 0.5% 0.5% 0% 0%;
    // -webkit-box-shadow: 8px -2px 67px 0px rgba(0,0,0,0.52);
    // -moz-box-shadow: 8px -2px 67px 0px rgba(0,0,0,0.52);
    // box-shadow: 8px -2px 67px 0px rgba(0,0,0,0.52);

    // border-radius: 0px 0px 0px 0px;
    // -moz-border-radius: 0px 0px 0px 0px;
    // -webkit-border-radius: 0px 0px 0px 0px;
    // border: 3px solid #e8e8e8;
  }
  .col:first-child { margin-left: 0; }

  /*  GROUPING  */
  .group:before,
  .group:after { content:""; display:table; }
  .group:after { clear:both;}
  .group { zoom:1; /* For IE 6/7 */ }

  /*  GRID OF SEVEN  */
  .span_7_of_7 {
  	width: 100%;
  }

  .span_6_of_7 {
    	width: 85.48%;
  }

  .span_5_of_7 {
    	width: 70.97%;
  }

  .span_4_of_7 {
    	width: 56.45%;
  }

  .span_3_of_7 {
    	width: 41.94%;
  }

  .span_2_of_7 {
    	width: 26.42%;
  }

  .span_1_of_7 {
    	width: 12.91%;
  }
  /*double span*/
  .span_1_2_of_7{
    width: 40.33%;
  }
  .img-new-responsive{
    width: 100%;
    height: auto;
    background-size: cover;
  }

  /*  GO FULL WIDTH BELOW 480 PIXELS */
  @media only screen and (max-width: 480px) {
  	.col {  margin: 1% 0 1% 0%; }
  	.span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 {
      width: 100%;
    }

    .center-pictures{
        margin: 50px;
        img{
          width: calc(100% + 20px);
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          -webkit-transform: translate3d(-10px,0,0);
          transform: translate3d(-10px,0,0);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background: white;
          margin-left: 10px;
          height: 230px;
        }
    }
  }




}
